body, h1, p {
    font-family: 'Playfair Display', serif;
}

header {
    font-size: 1em;
    text-align: left;
}

main video {
    display: block;
    width: 100%;
    height: auto;
}

main p {
    font-size: 2em;
    text-align: right;
    margin: 20px 0;
    font-weight: bold;
}
