@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;700&display=swap');

body {
    margin: 0;
    overflow: hidden;
    font-family: 'Fira Code', monospace;
}

nav {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    width: calc(100% - 40px);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
    white-space: nowrap;
}

nav ul li .title {
    color: #cccccc;
    font-weight: 700;
    font-size: 16px;
}

nav ul li a {
    color: #cccccc;
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
}

nav ul li a:hover {
    color: #ffffff;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.dg.ac {
    z-index: 999 !important;
}

@media screen and (max-width: 600px) {
    nav {
        top: 10px;
        left: 10px;
        width: calc(100% - 20px);
    }

    nav ul li {
        margin-right: 10px;
    }

    nav ul li .title,
    nav ul li a {
        font-size: 3.5vw;
    }
}
